name: CI
on:
  push:
    branches:
      - "**"      
  pull_request:
    branches:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    env:
      USE_DOCKER: "1"
    steps:
      - uses: actions/checkout@v1
      - name: Install Deno
        run: |
          echo "::set-env name=DENO_VERSION::$(cat .denov)"
      - uses: denolib/setup-deno@master
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Check mod.ts
        run: |
          deno run --allow-read --allow-write tools/make_mod.ts
          git diff --exit-code
      - name: Run lint
        run: |
          make lint
      - name: Run Tests
        run: |
          make test      
