name: CI
on:
  push:
    branches:
      - "**"      
  pull_request:
    types:
      - labeled
jobs:
  build:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.label.name == 'CI start')
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    steps:
      - uses: actions/checkout@v1
      - name: Install Deno
        run: |
          echo "::set-env name=DENO_VERSION::$(cat .denov)"
      - uses: denolib/setup-deno@master
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Check mod.ts
        run: |
          deno --allow-read --allow-write tools/make_mod.ts
          git diff --exit-code
      - name: Run Tests
        run: |
          make test      