name: Bump

on: push 
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    steps:
    - uses: actions/checkout@v1
    - uses: keroxp/dink-bot@v0.2.1
      with:
        github-repository: ${{ github.repository }}
        github-token: ${{ secrets.GITHUB_TOKEN }}