name: Lint actions

on:
  push:
    branches:
      - "**"
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: suzuki-shunsuke/pinact-action@4eb88bc57cde1d55d18615b1f8ccd7216269e6d2 # v0.2.0
        with:
          skip_push: "true"
